
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600');

body {
  font-family: 'Open Sans', sans-serif;
}

@media (min-width: 1200px) {
  .container {
    width: 960px;
  }
}

h1 {
  margin: 1rem 0 .8rem 0;
  font-size: 1.2rem;
  font-weight: 600;
  color: #292b2c;
}

h2 {
  font-size: 1.1rem;
  font-weight: 600;
  color: #3879D6;
}

p {
  font-size: .95rem;
  margin-bottom: .4rem;
}

.navbar-light {
  border-bottom: 5px solid #3879D6;
}

.navbar-light .navbar-nav .nav-link {
  color: #212529;
  font-weight: 600;
  padding: .3rem 1rem;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: #3879D6;
}

/* .navbar-social {

} */

.navbar-light .navbar-nav.navbar-social .nav-link {
  color: #3879D6;
  padding: .3rem .5rem;
}

.navbar-light .navbar-nav.navbar-social .nav-link:hover {
  color: #07A9DB;
}

@media (max-width: 576px) {
  .navbar-social {
    visibility: hidden;
  }

  .navbar-light .navbar-nav.navbar-social .nav-link {
    padding: 0 .5rem;
  }
}

/* Offsetting anchors for sticky header */
a.anchor {
  display: block;
  position: relative;
  top: -60px;
  visibility: hidden;
}

@media (max-width: 576px) {
  a.anchor {
    top: -150px;
  }
}

.gradientHeading {
  margin: 2rem 0 1rem 0;
  background: rgb(35,192,231);
  background: linear-gradient(90deg, rgba(35,192,231,1) 0%, rgba(40,111,213,1) 100%);
}

.gradientHeading h1 {
  color: white;
  text-transform: uppercase;
  padding: .4rem 1rem .4rem 1rem;
}

.app-bullets {
  font-size: .9rem;
  color: gray;
  list-style: none; /* get rid of bullets to be replaced with li:before rule */
  padding-left: 1rem;
}

.app-bullets li:before { /* set bullets to plus signs */
    content: "+";
    margin-right: 4px;
}

img {
  margin-bottom: 1rem;
}

.img-app {
  border: 1px solid #ddd;
}

a {
  color: #07A9DB;
}

a:hover {
  color: #0782A8;
}

a:focus {
  /*color: #8C2327;*/
}

.btn-light {
  background-color: white;
  border: 1px #3879D6 solid;
  border-radius: 0;
  color: #3879D6;
}

.btn-light:hover {
  background-color: #3879D6;
  border-color: #3879D6;
  color: white;
}

.btn-light:focus {
  border-width: 2px;
}

.btn-light:not(:disabled):not(.disabled):active, .btn-light:not(:disabled):not(.disabled).active, .show > .btn-light.dropdown-toggle {
  background-color: #639CED;
  color: white;
}

.jumbotron {
  background-color: black;
  border-radius: 0;
  /* border-top: 5px solid #3879D6; */
  padding: 2rem 0 1.3rem 0;
  margin: 0;
}

.jumbotron h1 {
  text-transform: uppercase;
  letter-spacing: 4px;
  margin: 0 0 .1rem 0;
  font-size: 2.75rem;
  color: white;
}

.jumbotron h2 {
  font-size: 1.75rem;
  font-weight: 400;
  color: white;
  margin: 0;
}

.jumbotron p {
  margin-top: .5rem;
  font-size: 1.2rem;
  color: white;
}

.jumbo-social-bar {
  background-image: url("./img/bg_blue_bar.jpg");
  background-repeat: no-repeat;
  background-position: 0 -300px;
  padding: 0.5rem;
}

.jumbo-social-bar a {
  font-size: 1.25em;
  margin: 0 1rem;
  color: white;
  transition: color 0.1s linear;
  -o-transition: color 0.1s linear;
  -moz-transition: color 0.1s linear;
  -webkit-transition: color 0.1s linear;
}

.jumbo-social-bar a:hover {
  color: #2BC9ED;
}

.row-app {
  margin-bottom: 2rem;
}

.row-app .col {
  flex-basis: auto; /*Fix columns inside a .row-app so they stack vertically at breakpoints*/
}

.col-app {
  margin-bottom: 2rem;
}

.btn-web-app {
  margin-right: .5rem;
  padding: .4rem .75rem;
  font-size: .9rem;  
}

.row-top-margin {
  margin-top: .5rem;
}

.contact .btn-light {
  margin-bottom: .2rem;
  width: 110px;
}

.contact p {
  margin: 0;
}

.footer-main {
  background-image: url("./img/bg_blue_bar.jpg");
  background-repeat: no-repeat;
  background-position: 0 -200px;
  margin-top: 4rem;
  padding: 1rem 1rem 4rem 1rem;
  color: white;
}

.footer-main a {
  color: white;
}

.footer-main a:hover {
  color: #07A9DB;
}

.footer-icons {
  font-size: 1.1rem;
  margin: .2rem 0 1.5rem 0;
}

.footer-icons a {
  margin: 0 1rem;
  /* color: white;
  transition: color 0.1s linear;
  -o-transition: color 0.1s linear;
  -moz-transition: color 0.1s linear;
  -webkit-transition: color 0.1s linear; */
}

/* .footer-icons a:hover {
  color: #373a3c;
} */

.footer-copyright {
  margin-bottom: 0;
}
